.avatarField {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.avatarFieldWrapper {
  position: relative;

  width: 120px;
  height: 120px;
}

.avatar {
  width: 120px;
  height: 120px;
}

.avatarSelectAction {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  padding-top: 1rem;
}

.avatarSelectAction button:first-child {
  width: 40px;
  margin-right: .25rem;
}

.avatarSelectAction button:last-child {
  width: 40px;
  margin-left: .25rem;
}

.inputAvatar {
  position: absolute;
  top: -2000;
  left: -2000;

  visibility: hidden;
}