/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env


# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/resources/apps/react-gym-management/node_modules

# testing
/resources/apps/react-gym-management/coverage

# production
/resources/apps/react-gym-management/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
