.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 64px;
  margin-top: -9px;
}

.logo > a {
  text-decoration: none;

  color: #616161;

  font-size: 1.25rem;
  line-height: 0;
}
