.panel {
  margin-bottom: 1.5rem;
}

.panelHeader {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 1rem;

  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.panelHeaderFilter {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.panelFooter {
  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 1rem;

  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.panelHeader__actions {
  display: flex;

  margin-left: auto;
}

.panelHeader__withFilters {
  background-color: #eee;
}

.searchWrapper {
  height: 40px;
  padding-left: 0.5rem;

  background: #ffffff;
}

.panelInner {
  background-color: #ffffff;
}

.searchField {
  width: 100%;
  height: 100%;

  border: none;
  background: #ffffff;
}

.searchInputWrapper {
  height: 100%;
}

.searchButtonWrapper {
  height: 100%;

  text-align: center;
}

.searchField:focus {
  outline: none;
  box-shadow: none;
}

.searchButton {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #ffffff;
  border: none;
  background: #3f53af;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.panelBody {
  position: relative;

  min-height: 300px;
  padding: 0 1.5rem 2rem 1.5rem;
}
